/* style2.css */


body {
    font-family: Arial, sans-serif;
    background-color: #d5d4f9;
    text-align: center;
    padding: 50px;
  }

  
  h1 {
    color: #f50909;
  }
  
  p {
    color: #161515;
    
  }
  t {
    color: #0d0d0d;
  }
  h3 {
    color: #f50909;
  }
  h4 {
    color: #000000;
  }
  h5 {
    color: #afbfbf;
  }
  