/* تنظیمات کلی */
body {
    background-image: url('F-45644.png'); /* آدرس تصویر پس‌زمینه */
    background-size: cover; /* تصویر به اندازه صفحه گسترش می‌یابد */
    background-position: center; /* تصویر در مرکز صفحه قرار می‌گیرد */
    background-repeat: no-repeat; /* جلوگیری از تکرار تصویر */
    background-attachment: fixed; /* تصویر ثابت باقی می‌ماند هنگامی که صفحه حرکت می‌کند */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* ارتفاع حداقلی برای صفحه */
    text-align: center;
    color: #ffffff; /* رنگ متن سفید */
}

/* نوار ناوبری */
nav {
    background-color: #212223;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* محتوای نوار ناوبری در مرکز قرار می‌گیرد */
    align-items: center;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 15px;
}

/* تصویر وسط صفحه */
.centered-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* عنوان و متن */
h1 {
    font-size: 2.5rem;
    color: #f50909;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .nav-links a {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .centered-image {
        width: 80%; /* عرض تصویر در گوشی‌ها کوچک‌تر می‌شود */
    }
}
